# Basic code

In [3]:
print(4+7)   #Addition(+)
print(6-4)   #substraction(-) 
print(6*3)   #Multiplication(*)
print(10/5)  #division(/)
print(15//5) #floor division(//)
print(5**3)  #exponential(**)
print(3 % 2) #Modulus(%)

11
2
18
2.0
3
125

### checking the datatypes

In [30]:
print(type(34))                        #int
print(type(3.14))                      #float
print(type('nit'))                     #string
print(type(True))                      #bool
print(type(3+2J))                      #complex
print(type([1,'nit','True',3.14]))     #List
print(type((3,2,4)))                   # tuple
print(type({'name' : 'john'}))         #dictionary
print(type({'hello','Python'}))        #set

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'complex'>
<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'set'>

In [32]:
a = 2+6 #addition
a

8

In [34]:
b = 4-6 #substraction
b

-2

In [36]:
c = 12*5 #Multiplication
c

60

In [38]:
d = 12/2  #division
d

6.0

In [40]:
m = 12//2   #floor division
m

6

In [42]:
n = 12 % 2 #Modulus
n

0

In [44]:
x = 2**8  #exponential or power
x

256

In [46]:
a = [ 1,2,3,4,5]  #list
a.append(10)
a

[1, 2, 3, 4, 5, 10]

In [48]:
type(a)

list

In [56]:
tup = ("python","Book")  #Tuple
print(type(tup))

<class 'tuple'>

In [58]:
str = ('nit') #String
type(str)

str

In [62]:
b = 1 >= 2   #boolean
print(b)
print(type(b))

False
<class 'bool'>

In [68]:
dict = {'name' : 'rakesh', 'age':1923}  #dictionary
print(dict)
print(type(dict))

{'name': 'rakesh', 'age': 1923}
<class 'dict'>

In [72]:
s= {'python is very interesting'}
print(s)
print(type(set))

{'python is very interesting'}
<class 'set'>