# Datatype in Python

1.Data type born from the variable concept
         OR
2.Python datatype that identify the data that variable can stored.

1.integer datatype
2.float datatype
3.string datatype
4.boolean datatype
5.complex datatype

# 1. integer datatype

In [6]:
a = 7
print(a)
type(a)

7

int

In [8]:
a = 4
b = 5
c = a+b
print(c)
print(type(c))

9
<class 'int'>

In [18]:
a , b , c= 10,20,30
print(a,b,c)

10 20 30

In [20]:
x = 10
y = 20

print(x+y)
print(x-y)
print(x*y)
print(x/y)

30
-10
200
0.5

In [36]:
x = True
y = False
z = x+y
print(z)
print(type(z))

1
<class 'int'>

# float Datatype

In [23]:
m = 3.14
print(m)
print(type(m))

3.14
<class 'float'>

# boolean datatype

In [28]:
True
type(True)

bool

In [30]:
true

NameError: name 'true' is not defined

In [32]:
False
type(False)

bool

In [46]:
x = True
y = False
print(x+y)
print(x-y)
print(x*y)

1
1
0

In [48]:
type(y)

bool

# complex datatype

complex datatype we can used the more maths operation

In [51]:
a = 2 + 3J
a

(2+3j)

In [53]:
a = 3 + 2J
print(a)
print(type(a))

(3+2j)
<class 'complex'>

In [57]:
x = 5 + 6J
print(x.real)
print(x.imag)

5.0
6.0

In [61]:
y = complex(2+3)
y

(5+0j)

In [3]:
# operation with complex number
a = 3 + 2J
b = 5 + 3J

print(a+b)
print(a-b)
print(a*b)
print(a/b)

(8+5j)
(-2-1j)
(9+19j)
(0.6176470588235294+0.02941176470588238j)

In [21]:
# These are the complex built-in-function
a = -2 + 3j
print(abs(a)) # abs is an abstract or magnitude
print(a.conjugate())

3.605551275463989
(-2-3j)

In [24]:
# by using the cmath module method (by using the trigonametric and function logarithemtic , squareroot)
import cmath

x = 3 + 2j
print(cmath.phase(x))
print(cmath.polar(x))
print(cmath.sqrt(x))

0.5880026035475675
(3.605551275463989, 0.5880026035475675)
(1.8173540210239707+0.5502505227003375j)

# type casting and the type conversion

In [1]:
int(3.14)  #float to int

3

In [3]:
int(3.14 , 1,34)

TypeError: int() takes at most 2 arguments (3 given)

In [9]:
int('10')  #string to int

10

In [7]:
int('Two')

ValueError: invalid literal for int() with base 10: 'Two'

# In these type casting the string text is not allowed

In [11]:
int(True)  #bool to int

1

In [13]:
int(False, True)

ValueError: int() base must be >= 2 and <= 36, or 0

In [15]:
int(2+3j)

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

# so in type casting the complex is also not allowed

# keywords

In [20]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [22]:
len(keyword.kwlist)

35

# identifier

In [1]:
1v = 3
1v#identifier can't start with the digit

SyntaxError: invalid decimal literal (2691573763.py, line 1)

In [3]:
x3@ = 23 #identifier can't start with trhe special character
c3@

SyntaxError: invalid syntax (2836865400.py, line 1)

In [5]:
def = 345 #identifier can't start used as the keyword
def

SyntaxError: invalid syntax (2365914397.py, line 1)

In [7]:
var_7 = 123
var_7

123

# comment in python

In [ ]:
two types of comment
1.single line comment(#)
2.Multiline comment(""" """)

In [12]:
#single line comment
str = 'True'
str

'True'

In [14]:
#Multi line comment
x = ''' i hope you are enjoying 30 days python bootcamp
          so python is very easy laguage and having the standard library'''
x

' i hope you are enjoying 30 days python bootcamp\n          so python is very easy laguage and having the standard library'