# Dictionary

#### 1.Dictionary is mutable datatype
#### 2.A python is a collection of the key and value pairs and seperated by (:), and enclosed with curly braces{}
#### 3.key must be unique in disctionary. duplicate value are not allowes
#### 4.duplicate values are allowed in values

In [5]:
mydict = {'A':'one','B':'Two','C':'Three'}

In [7]:
mydict

{'A': 'one', 'B': 'Two', 'C': 'Three'}

# create Dictionary

In [10]:
mydict = dict() #Empty dictionary
print(mydict)
print(type(mydict))

{}
<class 'dict'>

In [12]:
mydict  = {}
mydict

{}

In [14]:
mydict = {1:'one', 2:'two', 3:'three', 4:'four', 5:'five'}   #Dictionary with integer number
mydict

{1: 'one', 2: 'two', 3: 'three', 4: 'four', 5: 'five'}

In [16]:
mydict = ({1:'one',2:'two',3:'three',4:'four',5:'five',6:'six',7:'seven'})   # Create dictionary using dict()

In [18]:
mydict

{1: 'one', 2: 'two', 3: 'three', 4: 'four', 5: 'five', 6: 'six', 7: 'seven'}

In [20]:
mydict = {'A':'one','B':'two','C':'three','D':'four'} #dictionary by using key character
mydict

{'A': 'one', 'B': 'two', 'C': 'three', 'D': 'four'}

In [22]:
mydict = {1:'one', 'B':'two', 3:'three'}   #By using the mixed key
mydict

{1: 'one', 'B': 'two', 3: 'three'}

In [24]:
mydict.keys()    #return dictionary keys by using the key() method

dict_keys([1, 'B', 3])

In [26]:
mydict.values()  #return the dictionary values using values() method

dict_values(['one', 'two', 'three'])

In [28]:
mydict.items()  #access all key values pairs in dictionary

dict_items([(1, 'one'), ('B', 'two'), (3, 'three')])

In [30]:
mydict = {1:'one',2:'two',3:'three','A':['one','two','three']}   #Nested dictionary
mydict

{1: 'one', 2: 'two', 3: 'three', 'A': ['one', 'two', 'three']}

In [32]:
mydict = {1:'one',2:'two',3:'three',4:'four',5:'five','A':('john','meria','asif'),'B':['hat','cat','mat']}
mydict

{1: 'one',
 2: 'two',
 3: 'three',
 4: 'four',
 5: 'five',
 'A': ('john', 'meria', 'asif'),
 'B': ['hat', 'cat', 'mat']}

In [34]:
mydict = {1:'one',2:'two',3:'three',4:'four',5:'five','A':{'Name':'Ritika','age':80},'B':('A','B','c','d')}
mydict

{1: 'one',
 2: 'two',
 3: 'three',
 4: 'four',
 5: 'five',
 'A': {'Name': 'Ritika', 'age': 80},
 'B': ('A', 'B', 'c', 'd')}

In [36]:
mydict ={'A','B','C','D','E','F','G','H'}  #create dict from seqence of keys
mydict1 = dict.fromkeys(mydict)

In [38]:
mydict1

{'A': None,
 'H': None,
 'G': None,
 'B': None,
 'D': None,
 'F': None,
 'C': None,
 'E': None}

In [40]:
mydict

{'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H'}

In [42]:
print(dict.fromkeys(mydict1))

{'A': None, 'H': None, 'G': None, 'B': None, 'D': None, 'F': None, 'C': None, 'E': None}

In [44]:
mydict = {1,2,3,4,5,6}  # cretate a dictionary from sequence of key and value pair
value = 'A'
mydict1 = dict.fromkeys(mydict, value)
mydict1

{1: 'A', 2: 'A', 3: 'A', 4: 'A', 5: 'A', 6: 'A'}

In [46]:
mydict = {1,2,3,4,5,6}  # cretate a dictionary from sequence of key and value pair
value = ('A','B','C','D','E','F')
mydict1 = dict.fromkeys(mydict, value)
mydict1

{1: ('A', 'B', 'C', 'D', 'E', 'F'),
 2: ('A', 'B', 'C', 'D', 'E', 'F'),
 3: ('A', 'B', 'C', 'D', 'E', 'F'),
 4: ('A', 'B', 'C', 'D', 'E', 'F'),
 5: ('A', 'B', 'C', 'D', 'E', 'F'),
 6: ('A', 'B', 'C', 'D', 'E', 'F')}

In [48]:
keys = {'a' , 'b' , 'c' , 'd'} 
value = [10,20,30] 
mydict3 = dict.fromkeys(keys , value) 
mydict3

{'c': [10, 20, 30], 'a': [10, 20, 30], 'd': [10, 20, 30], 'b': [10, 20, 30]}

In [50]:
value.append(40) 
mydict3

{'c': [10, 20, 30, 40],
 'a': [10, 20, 30, 40],
 'd': [10, 20, 30, 40],
 'b': [10, 20, 30, 40]}

In [52]:
value.append(50)
mydict3

{'c': [10, 20, 30, 40, 50],
 'a': [10, 20, 30, 40, 50],
 'd': [10, 20, 30, 40, 50],
 'b': [10, 20, 30, 40, 50]}

# Accessing Items

In [55]:
mydict = {1:'one',2:'two',3:'three',4:'four'}

In [57]:
mydict

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [59]:
mydict[1] # access the item using key

'one'

In [61]:
mydict[3]

'three'

In [63]:
mydict.get(4)  #Accessing the item using get() Method

'four'

In [65]:
mydict = {'Name':'John','ID':2918, 'DOB':1987, 'JOB':'python_Devloper'}
mydict

{'Name': 'John', 'ID': 2918, 'DOB': 1987, 'JOB': 'python_Devloper'}

In [67]:
mydict['Name']

'John'

In [69]:
mydict['JOB']

'python_Devloper'

In [71]:
mydict['ID'] # Access the items using key

2918

In [73]:
mydict.get('DOB')  #access the items using the get method()

1987

# Add, Remove & Change Items

In [76]:
mydict ={'Name':'john', 'ID':1447,'DOB':1934, 'Address':'HYD','JOb':'Full Stack java'}
mydict

{'Name': 'john',
 'ID': 1447,
 'DOB': 1934,
 'Address': 'HYD',
 'JOb': 'Full Stack java'}

In [78]:
mydict['DOB']=1992   # changing dictionary items
mydict

{'Name': 'john',
 'ID': 1447,
 'DOB': 1992,
 'Address': 'HYD',
 'JOb': 'Full Stack java'}

In [80]:
mydict['Address']='Delhi'
mydict

{'Name': 'john',
 'ID': 1447,
 'DOB': 1992,
 'Address': 'Delhi',
 'JOb': 'Full Stack java'}

In [82]:
dict1={'DOB':1995}
mydict.update(dict1)
mydict

{'Name': 'john',
 'ID': 1447,
 'DOB': 1995,
 'Address': 'Delhi',
 'JOb': 'Full Stack java'}

In [84]:
dict2={'Name':'Book'}
mydict.update(dict2)
mydict

{'Name': 'Book',
 'ID': 1447,
 'DOB': 1995,
 'Address': 'Delhi',
 'JOb': 'Full Stack java'}

In [86]:
dict3 = {'ID':4777}
mydict.update(dict3)  #updating the values
mydict

{'Name': 'Book',
 'ID': 4777,
 'DOB': 1995,
 'Address': 'Delhi',
 'JOb': 'Full Stack java'}

In [88]:
mydict['job1'] =  'Analyst'  #Adding the item in dictionary
mydict

{'Name': 'Book',
 'ID': 4777,
 'DOB': 1995,
 'Address': 'Delhi',
 'JOb': 'Full Stack java',
 'job1': 'Analyst'}

In [90]:
mydict.pop('JOb')  #removing the item in dictionary using pop() Method
mydict

{'Name': 'Book',
 'ID': 4777,
 'DOB': 1995,
 'Address': 'Delhi',
 'job1': 'Analyst'}

In [92]:
mydict.popitem()  #removing random element

('job1', 'Analyst')

In [94]:
mydict

{'Name': 'Book', 'ID': 4777, 'DOB': 1995, 'Address': 'Delhi'}

In [96]:
del[mydict['ID']] # removing the item using del method

In [98]:
mydict

{'Name': 'Book', 'DOB': 1995, 'Address': 'Delhi'}

In [100]:
del[mydict['Name']]

In [102]:
mydict

{'DOB': 1995, 'Address': 'Delhi'}

In [104]:
mydict.clear() #remove all the item of dictionary using clear() method

In [106]:
mydict

{}

# Copy Dictionary

In [109]:
mydict ={'Name':'john', 'ID':1447,'DOB':1934, 'Address':'HYD','JOb':'Full Stack java'}

In [111]:
mydict

{'Name': 'john',
 'ID': 1447,
 'DOB': 1934,
 'Address': 'HYD',
 'JOb': 'Full Stack java'}

In [113]:
mydict1 = mydict

In [115]:
id(mydict),id(mydict1)

(2397407372160, 2397407372160)

In [117]:
mydict2 = mydict.copy()

In [119]:
mydict2

{'Name': 'john',
 'ID': 1447,
 'DOB': 1934,
 'Address': 'HYD',
 'JOb': 'Full Stack java'}

In [121]:
id(mydict2)

2397407432256

In [123]:
mydict['Address'] = 'Mumbai'

In [125]:
mydict

{'Name': 'john',
 'ID': 1447,
 'DOB': 1934,
 'Address': 'Mumbai',
 'JOb': 'Full Stack java'}

In [127]:
mydict1 ## mydict1 will be also impacted as it is pointing to the same dictionar

{'Name': 'john',
 'ID': 1447,
 'DOB': 1934,
 'Address': 'Mumbai',
 'JOb': 'Full Stack java'}

In [129]:
mydict2  # Copy of list won't be impacted due to the changes made in the original

{'Name': 'john',
 'ID': 1447,
 'DOB': 1934,
 'Address': 'HYD',
 'JOb': 'Full Stack java'}

# Loop Through dictionary

In [132]:
mydict

{'Name': 'john',
 'ID': 1447,
 'DOB': 1934,
 'Address': 'Mumbai',
 'JOb': 'Full Stack java'}

In [134]:
for i in mydict:
    print(i) # key

Name
ID
DOB
Address
JOb

In [136]:
for i in mydict:
    print(i,':',mydict)

Name : {'Name': 'john', 'ID': 1447, 'DOB': 1934, 'Address': 'Mumbai', 'JOb': 'Full Stack java'}
ID : {'Name': 'john', 'ID': 1447, 'DOB': 1934, 'Address': 'Mumbai', 'JOb': 'Full Stack java'}
DOB : {'Name': 'john', 'ID': 1447, 'DOB': 1934, 'Address': 'Mumbai', 'JOb': 'Full Stack java'}
Address : {'Name': 'john', 'ID': 1447, 'DOB': 1934, 'Address': 'Mumbai', 'JOb': 'Full Stack java'}
JOb : {'Name': 'john', 'ID': 1447, 'DOB': 1934, 'Address': 'Mumbai', 'JOb': 'Full Stack java'}

In [138]:
for i in mydict:
    print(i,':',mydict[i]) #key and value pair

Name : john
ID : 1447
DOB : 1934
Address : Mumbai
JOb : Full Stack java

In [140]:
for i in mydict:
    print(mydict[i])  # Dictionary items

john
1447
1934
Mumbai
Full Stack java

# Dictionary Membership

In [143]:
mydict

{'Name': 'john',
 'ID': 1447,
 'DOB': 1934,
 'Address': 'Mumbai',
 'JOb': 'Full Stack java'}

In [145]:
'Name' in mydict #check if the key is dictionary or not

True

In [147]:
'name' in mydict

False

In [149]:
'ID' in mydict

True

In [151]:
'Address' in mydict

True

# ALL & ANY

In [154]:
mydict

{'Name': 'john',
 'ID': 1447,
 'DOB': 1934,
 'Address': 'Mumbai',
 'JOb': 'Full Stack java'}

In [156]:
all(mydict)

True

In [158]:
any(mydict)

True

In [160]:
all(mydict1)

True