# Set

1. Unordered and unindexed collection of items.
2. Set element are unique.Duplicate element are not allowed.
3. Set element are immutable(cannot be change).
4. Set itself is mutable.We can add or remove item for it.

## set creation

In [230]:
myset = {1,2,3,4,5}    # set of number

In [232]:
myset

{1, 2, 3, 4, 5}

In [234]:
len(myset)            #length of set

5

In [236]:
myset1 ={1,1,2,2,3,3,4,5,4,5}    #duplicate is not allowed
myset1

{1, 2, 3, 4, 5}

In [238]:
myset2 = {3.14, 2.34,2.15,3.16}  #set of  float Number
myset2

{2.15, 2.34, 3.14, 3.16}

In [240]:
len(myset2)

4

In [242]:
myset3 = {'one','two','three','four','five'}  # set of string
myset3

{'five', 'four', 'one', 'three', 'two'}

In [244]:
myset4 = {'one',34,(2,3,4),2.34} #set with mixed datatype
myset4

{(2, 3, 4), 2.34, 34, 'one'}

In [246]:
myset41 = {'one','two',30,20,3.14,3+4j}
myset41

{(3+4j), 20, 3.14, 30, 'one', 'two'}

In [248]:
myset5 = {10,20,'one',[10,20,30]}  #set does not allow the multiple type of list
myset5

TypeError: unhashable type: 'list'

In [250]:
myset6 = set(('one','two','three','four'))
myset6

{'four', 'one', 'three', 'two'}

In [252]:
str = set(('ram','shyam','mina','tina'))
print(str)
print(type(str))

{'tina', 'mina', 'shyam', 'ram'}
<class 'set'>

# Loop Through the set

In [255]:
myset7 = set(('one','two','three','four','five','six','seven','eight','nine'))
myset7

{'eight', 'five', 'four', 'nine', 'one', 'seven', 'six', 'three', 'two'}

In [257]:
for i in myset7:
    print(i)

six
five
four
three
seven
two
one
eight
nine

In [259]:
for i in enumerate(myset7):
    print(i)

(0, 'six')
(1, 'five')
(2, 'four')
(3, 'three')
(4, 'seven')
(5, 'two')
(6, 'one')
(7, 'eight')
(8, 'nine')

# Set Membership

In [262]:
myset7

{'eight', 'five', 'four', 'nine', 'one', 'seven', 'six', 'three', 'two'}

In [264]:
'one' in myset7

True

In [266]:
'nine' in myset7

True

In [268]:
'twenty' in myset7

False

In [270]:
'language' in myset7

False

In [272]:
if 'seven' in myset7:    #check seven is exits in set
    print('seven is present in set')
else:
    print('seven is not present in set')

seven is present in set

In [274]:
if 'twelve' in myset7:
    print('twelve is present in set')
else:
    print('twelve is not present in set')

twelve is not present in set

# Add & Remove Items

In [277]:
myset7

{'eight', 'five', 'four', 'nine', 'one', 'seven', 'six', 'three', 'two'}

In [279]:
myset7.add('ten')  #Add the item to set by using the add() method

In [281]:
myset7

{'eight', 'five', 'four', 'nine', 'one', 'seven', 'six', 'ten', 'three', 'two'}

In [283]:
myset7.update(['ELEVEN','TWELVE'])   #Add the multiple item using to a set using update() method 
myset7

{'ELEVEN',
 'TWELVE',
 'eight',
 'five',
 'four',
 'nine',
 'one',
 'seven',
 'six',
 'ten',
 'three',
 'two'}

In [285]:
myset7.remove('nine')    #remove item in set by using the remove method()
myset7

{'ELEVEN',
 'TWELVE',
 'eight',
 'five',
 'four',
 'one',
 'seven',
 'six',
 'ten',
 'three',
 'two'}

In [287]:
myset7.discard('ten')    # remove item from a set using discard() method
myset7

{'ELEVEN',
 'TWELVE',
 'eight',
 'five',
 'four',
 'one',
 'seven',
 'six',
 'three',
 'two'}

In [289]:
myset7.clear()   #Delete all item in a set

In [291]:
myset7

set()

In [293]:
del myset7   #delete set object
myset7

NameError: name 'myset7' is not defined

# Copy Set

In [297]:
myset = {'one','two','three','four','five','six','seven','eight'}
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [299]:
myset1 = myset   #create a new reference of myset1
myset1

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [301]:
id(myset), id(myset1)     # The address of both myset and myset1 will be the same

(1893802083264, 1893802083264)

In [303]:
myset2 = myset.copy()   #create the copy of the list

In [305]:
myset2

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [307]:
id(myset2)

1893802087072

In [309]:
myset.add('NINE')
myset

{'NINE', 'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [311]:
myset1  # myset1 will be also impacted as it is pointing to the same Set

{'NINE', 'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [313]:
myset2  #  Copy of the set won't be impacted due to changes made on the original Set

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

# Set Operation

1.Union 
2.Intersection 
3.Difference
4.Symmetric Difference
5.Subset , Superset & Disjoint

# Union

In [317]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}
C = {8, 9, 10}

In [319]:
A | B    #Union of A and B All elements from both sets.(No Duplicate)

{1, 2, 3, 4, 5, 6, 7, 8}

In [323]:
A .union(B)  # Union of A and B

{1, 2, 3, 4, 5, 6, 7, 8}

In [325]:
A .union(B,C)  # Union of A , B and C

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [327]:
""" 
Updates the set calling the update() method with union of A , B & C. 
For below example Set A will be updated with union of A,B & C.

"""
A.update(B,C)

In [329]:
A

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

# Intersection

In [332]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}

A & B  # Intersection of A & B comon items in both sets

{4, 5}

In [334]:
A .intersection(B)

{4, 5}

In [336]:
Intersection of A and B

SyntaxError: invalid syntax (4132668792.py, line 1)

In [338]:
A.intersection_update(B)

In [340]:
A

{4, 5}

# Difference

In [344]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}

In [346]:
A - B #set of element that are only in A but not in B

{1, 2, 3}

In [348]:
A.difference(B)  # difference of set

{1, 2, 3}

In [350]:
B - A  # set of element that are only in B but not in A

{6, 7, 8}

In [354]:
"""
Updates the set calling the difference_update() method with the difference of set
For below example Set B will be updated with the difference of B & A
"""
B.difference_update(A)

In [356]:
B

{6, 7, 8}

# Symmetric Difference

In [359]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}

In [361]:
A ^ B  # Except the common element remaining all element are print

{1, 2, 3, 6, 7, 8}

In [363]:
A.symmetric_difference(B)

{1, 2, 3, 6, 7, 8}

In [365]:
A

{1, 2, 3, 4, 5}

In [367]:
A.symmetric_difference_update(B)

In [369]:
A

{1, 2, 3, 6, 7, 8}

# Subset , Superset & Disjoint

In [372]:
A = {1,2,3,4,5,6,7,8,9} 
B = {3,4,5,6,7,8} 
C = {10,20,30,40}

In [378]:
A.issubset(B)  # A set A is the not issubset of B because All element of B is not present in A

False

In [380]:
B.issubset(A)  #A set B is the issubset of A , if all element of B are present in A

True

In [382]:
C.issubset(A)

False

In [384]:
A.issuperset(B)  #set A is a superset of B if it contains all element of B

True

In [386]:
B.issuperset(A)

False

In [388]:
A.issuperset(C)

False

In [392]:
C.isdisjoint(A) #Two sets are disjoint if two element are not in common

True

In [394]:
A.isdisjoint(C)

True

In [396]:
C.isdisjoint(B)

True

# Other Builtin functions

In [399]:
A = {1,2,3,4,5,6,7,8,9}

In [401]:
sum(A)

45

In [403]:
len(A)

9

In [405]:
min(A)

1

In [407]:
max(A)

9

In [409]:
enumerate(A)

In [411]:
list(enumerate(A))

[(0, 1), (1, 2), (2, 3), (3, 4), (4, 5), (5, 6), (6, 7), (7, 8), (8, 9)]

In [413]:
B = sorted(A, reverse=True)

In [415]:
B

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [417]:
sorted(B)

[1, 2, 3, 4, 5, 6, 7, 8, 9]