### Python Defination

1.python is the high level , general purpose of the programing language.
2.python is come from the complete tv show that is Monty python flying circus.
3.Guido vannn rosum is the father of the python.
4.IT is atualy developed in the 1989 but it released in the market on 1991.
5.python having various language like c, c++, java to form the complete python , so python isalso called as the everything , and it is the very powerfull toool.
6.python developed in the netherland so many people called as the new language because , people are not used the python so they were get the new language and now most demand in the market and it is used in gen AI agentis AI , machine learning , data science

Python virtual machine:---> it is a software based environment which execute the  byte code.

In [ ]:
byte code:--->Byte code is an intermediate code which execute the virtual machine..

IDE :--->(Integrated development kit)---Which can write the code, run the code, debug the code.

Platform Independent:-->If the same code cam rum in window , same code can run in the mac operating system.

## What is mean by compiler and interpreter

compiler :--->If all the code run at once.
Interpreter:--->If the code execute line by line.

# variable in python

1. variable is the name of the memory location which stored the data value.
2. variable == identifier == object
----------------------------------------------------------------------------------------------------------------------------
3. Syntax :- variable = value

### Variable Rules

1. variable does not start with digit but ends with the digit
2. Special character is not allowed except underscore
3. It is a case sensitive (age,Age)
4. Keyword or reserved word never be declare as the variable

In [1]:
1nit = 23
1nit

SyntaxError: invalid decimal literal (2508811914.py, line 1)

In [3]:
va$ = 43
va$

SyntaxError: invalid syntax (3659403305.py, line 1)

In [5]:
var_ = 53
var_

53

In [7]:
if = True
if

SyntaxError: invalid syntax (4288045352.py, line 1)

In [9]:
IF ='False'
IF

'False'

In [11]:
IF = True
IF

True

In [17]:
a = 23
b = 34

print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a%b)
print(a**b)

57
-11
782
0.6764705882352942
0
23
19895113660064588580108197261066338165074766609

In [21]:
x = 3
y = 4
print(x,y)

3 4

In [23]:
print(x+y)

7

In [39]:
a = 3
print(type(a))
print(a)

b = 3.14
print(type(b))
print(b)

c = 'True'
print(type(c))
print(c)

d = False
print(type(d))
print(d)

e= a +2j
print(type(e))
print(e)

<class 'int'>
3
<class 'float'>
3.14
<class 'str'>
True
<class 'bool'>
False
<class 'complex'>
(3+2j)

In [41]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

# Storing and printing the value

In [44]:
# here we stored value 48 in a  print  varible in a
a = 48 
a

48

In [1]:
a = 4
b = 7
c = a + b
c

11

In [3]:
fisrt = 'True'
second = 'False'
third = 'True'+ ' ' +'False'
third

'True False'

## Variable in python printing the value stored in the variable

In [18]:
first_name = 'Shradha'
Last_name = 'Kapur'
city = 'Hydrabad'
country = 'Telangana'
Skill = ('HTML','CSS','Javascript','Pyhton','Java','Datascience')
is_Married = 'False'
advanced_skill = ['SQL','PHP','Flask','Django','Springboot']
Personal_info = {
    'name' : 'rani',
    'Last_name':'Deshmukh',
    'age' : 1995,
    'City' : 'United state',
    'Country':'North America'
}


print(type(first_name))
print('First_name : ', first_name)
print(type(Last_name))
print('Last_name: ',Last_name)
print(type(city))
print('City:', city)
print(type(country))
print('Country :',country)
print('Skill:',Skill)
print('Married:',is_Married)
print('Advanced_Knowledge:',advanced_skill)
print('Personal_Data',Personal_info)

<class 'str'>
First_name :  Shradha
<class 'str'>
Last_name:  Kapur
<class 'str'>
City: Hydrabad
<class 'str'>
Country : Telangana
Skill: ('HTML', 'CSS', 'Javascript', 'Pyhton', 'Java', 'Datascience')
Married: False
Advanced_Knowledge: ['SQL', 'PHP', 'Flask', 'Django', 'Springboot']
Personal_Data {'name': 'rani', 'Last_name': 'Deshmukh', 'age': 1995, 'City': 'United state', 'Country': 'North America'}

## Declaring Multiple variable in one line

In [31]:
first_name,last_name,city, country,skill,advanced_skill = 'Ram','swami','nanded','Maharashtra',['php','sql','javascript','scripting'],('Flask','Django','springboot')
print('First_name :',first_name) 
print('Last_name :',last_name)
print('City :',city)
print('Country:',country)
print('Skill :',skill)
print(type(skill))
print('advanced :',advanced_skill)

First_name : Ram
Last_name : swami
City : nanded
Country: Maharashtra
Skill : ['php', 'sql', 'javascript', 'scripting']
<class 'list'>
advanced : ('Flask', 'Django', 'springboot')

# Basic Code

In [36]:
print(5+4)
print(5-4)
print(5*4)
print(5/4)
print(5//4)
print(5%4)
print(5**4)

9
1
20
1.25
1
1
625

In [60]:
print(type(7))
print(type(3.14))
print(type(2+3J))
print(type(True))
print(type(3 == 3))
print(type(7>=7))
print(type('Shree swami samarth'))
print(type([1,'str',True,3.14]))
print(type((23,24,25,26)))
print(type({"HelloEveryone",47}))
print(type({'class': 'twelve'}))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'bool'>
<class 'bool'>
<class 'bool'>
<class 'str'>
<class 'list'>
<class 'tuple'>
<class 'set'>
<class 'dict'>

In [ ]:
##string